@import url('https://fonts.googleapis.com/css?family=Petrona');
@import url('https://fonts.googleapis.com/css?family=Chakra+Petch');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: radial-gradient(
    	ellipse farthest-side at 100% 100%,
    	#dbf6c8 20%,#1cafc6 50%,#012690 100%);
}

.section1 {
	height: 50vh;
	background-image: url("IMG/main_background.jpg"); 
	background-attachment: fixed;
	background-size: cover;
}

.section2 {
	background: #ffa216;
}

.section3 {
	height: 35vh;
	background-image: url("IMG/world.jpg"); 
	background-attachment: fixed;
	background-size: cover;
  animation: filter-animation 5s infinite;
}

.section4 {
	background: #ffa216;

}

.section4 img {
	width: 250px;
	height: 200px;
}

.box {
	text-align: center;
	font-size: 35px;
	font-family: 'Chakra Petch', sans-serif;
	margin: 0;
}

.card img {
   width: 200px;
   height: 200px;
   border-radius: 50%;
   position: absolute;
   top: 0px;
   left: 11px;
   padding: 50px 0;
   z-index: 950;
}

.circle {
	box-sizing: border-box;
	width: 220px;
   height: 220px;
   border-radius: 50%;
   position: absolute;
   top: 37px;
   left: 0px;
   padding: 50px 0;
    background: radial-gradient(
    	ellipse farthest-side at 100% 100%,
    	#dbf6c8 20%,#1cafc6 50%,#012690 100%);
   z-index: 900;
}

h1 {
    color: white;
    font-family: 'Petrona', serif;
    font-size: 100px;
    text-shadow: 2px 4px #ff7700;
    text-align: center;
    overflow: hidden; 
    border-right: .15em solid #012690; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .3em;
    animation: typing 3s steps(15, end),
     typeWriter 3s steps(15);
}

h2 {
	text-align: center;
	font-size: 55px;
	font-family: 'Chakra Petch', sans-serif;
	color: white;
}

h3 {
	text-align: center;
	font-size: 55px;
	font-family: 'Chakra Petch', sans-serif;
	/*color: white;*/
}

/*.bio {
	font-family: 'Chakra Petch', sans-serif;
	text-align: center;
	color: black;
	font-size: 30px;*/
    

	/*align-content: center;;*/



/*the code below is used to make the typewriter effect*/


@keyframes typing {
    from { width: 0% }
    to { width: 835px };
   
  }

@keyframes typeWriter {
    
    from{border-right-color: #1cafc6 ;}
  to {border-right-color: transparent };
  }

  /*The code below is used to change the hue color. */

  @keyframes filter-animation {
    0% {
      filter: hue-rotate(0deg);
    }
    
    50% {
      filter: hue-rotate(100deg);
    }
    
    100% {
      filter: hue-rotate(0deg);
    }
  }